@media screen and (max-width:785px){
body{
	margin:0px;
	}

img{
	width: 100%;
	height:100%;
	}

#banner{
	position: fixed;
	width:100%;
	height:40px;
	background: #253F66;
	}

nav{
	position:relative;
	left:-23px;
	margin-top:-14px;
	text-align:left;
	width:728px;
	height:40px;
	background:--- red;
	}

li{
	display:inline;
	font-size:34px;
	padding:3px;
	color:#f1f6ec;
	font-family: 'Philosopher', sans-serif;
	}

a{
	text-decoration:none;
	color:#f1f6ec;
	}

li:hover{
	text-shadow:0px 0px 0px #3c5523;
	}

.H:active{
	text-shadow: 0px 0px 20px #3c5523;
	}
	
#mainpic{
	position:relative;
	margin:auto;
	top:40px;
	width:100%;
	height:auto;
	}
#mainpic img{
	height: 300px;
}
#midcontent{
	position:relative;
	margin:auto;
	top:0px;
	width:370px;
	height:900px;
	border-radius:5px;
	}

#midWrapper {
	 margin: 0 auto;
    padding: 10px;
    position: relative;
    /* background-color: red; */
    height: 400px;
    width: 100%;
}

#title{
	position:relative;
	margin:auto;
	text-align:center;
	width:370px;
	color:#000;
	font-size:30px;
	font-family: 'Abril Fatface', cursive;
	-webkit-text-stroke: .3px #384A66;
	}

#box1{
	width:200px;
	height:250px;
	background-color:green;
	margin:auto;
	position:absolute;
	left:90px;
	margin-top:30px;
	border-radius:30px;
	}
	
.peter{	
	border-radius:30px;
	}
	
.picdescript{
	font-size:20px;
	color:black;
	position:absolute;
	left:10px;
	font-family: 'Philosopher', sans-serif;
	}
	
#box2{
	width:370px;
	height:470px;
	background-color:#dbdbdb;
	margin:auto;
	position:absolute;
	left:0px;
	margin-top:350px;
	border-radius:30px;
	}
	
.about{
position:absolute;
font-size:20px;
color:#363636;
text-indent:50px;
left:10px;
font-family: 'Philosopher', sans-serif;
}

.about2{
position:absolute;
font-size:20px;
color:#363636;
text-indent:50px;
left:10px;
top:160px;
font-family: 'Philosopher', sans-serif;
}

.about3{
position:absolute;
font-size:20px;
color:#363636;
text-indent:50px;
left:10px;
top:300px;
font-family: 'Philosopher', sans-serif;
}

#services{
position:relative;
margin:auto;
width:100%;
height:100px;
top:15px;
}

#servicesWrapper {
    position: relative;
    margin: 0 auto;
    width: 376px;
    height: 100px;
}

#serv1{
	position:absolute;
	top:0;
	left:10px;
	background:#78ab46;
	border-radius:100%;
	width:113px;
	height:113px;
	}
	
#serv1:hover{
	box-shadow:0px 0px 0px #000;
	}
	
.sdd{
	position:absolute;
	color:#fff;
	font-size:20px;
	top:10px;
	font-family: 'Philosopher', sans-serif;
	}
	
#serv2{
	position:absolute;
	top:0;
	left:130px;
	background:#78ab46;
	border-radius:100%;
	width:113px;
	height:113px;
	}
	
#serv2:hover{
	box-shadow:0px 0px 0px #000;
	}
	
.cs{
	position:absolute;
	color:#fff;
	text-align:center;
	top:10px;
	font-size:20px;
	font-family: 'Philosopher', sans-serif;
	}	
	
#serv3{
	position:absolute;
	top:0px;
	left:250px;
	background:#78ab46;
	border-radius:100%;
	width:113px;
	height:113px;
	}
	
#serv3:hover{
	box-shadow:0px 0px 0px #000;
	}
	
.vt{
	position:absolute;
	color:#fff;
	text-align:left;
	top:10px;
	font-size:20px;
	font-family: 'Philosopher', sans-serif;
	}	
	
#footer{
	position:relative;
	top:40px;
	width:100%;
	background:#253F66;
	}

#foot{
    color: #f1f6ec;
    text-align: center;
    position: relative;
    bottom: -15px;
    left: 0px;
    /* right: 120px; */
    font-family: 'Philosopher', sans-serif;
}
