body{
	margin:0px;
	background-color: #F2F6FF;
}
img{
	width:100%;
	height:100%;
	}

#banner{
	position:fixed;
	width:100%;
	height:40px;
	background:#253F66;
	z-index:999;

	}
		
nav{
	position:relative;
	margin:auto;
	margin-top:-15px;
	text-align:center;
	width:100%;
	height:40px;
}
	
li{
	display:inline;
	font-size:30px;
	padding:10px;
	color:#f1f6ec;
	font-family: 'Philosopher', sans-serif;
	
}
a{
	text-decoration:none;
	color:#f1f6ec;
}

li:hover{	
	text-shadow: 0px 0px 20px #3c5523;	
  }
.C:active{
	text-shadow: 0px 0px 20px #3c5523;
}

#mainpic{
	position:relative;
	width:100%;
	height:auto;
	text-align:center;
}
#mainpic img {
	height: 600px;
}
	
#midcontent{
	position:relative;
	margin:auto;
	margin-top:-124px;
	width:100%;
	height:430px;
	border-radius:5px;
	background: #F2F6FF;
}

#midWrapper {
	margin: 0 auto;
    padding: 10px;
    position: relative;
    background-color: #F2F6FF;
    height: 400px;
    width: 900px;
}	

#title{
	position:relative;
	margin:auto;
	text-align:center;
	width:100%;
	color:#000;
	font-size:50px;
	font-family: 'Abril Fatface', cursive;
	-webkit-text-stroke: .3px #253F66;
	}
	
#tbox{
	position:absolute;
	width:512px;
	height:350px;

	}
	
	#midcontent a{
	color: blue;
	text-decoration: underline;
}

#info{
	position:absolute;
	top:-20px;
	left:600px;
	width:512px;
	height:250px;
	color:#000;
	font-size: 1.5em;
	padding-top:50px;
	text-align:left;
	font-family: 'Philosopher', sans-serif;
	}

#map{
	position:absolute;
	left:10px;
	top:25px;
	}
	
#mobilemap{
	position:absolute;
	top:0px;
	display:none;
	left:5px;}
	
	
#footer {
width:100%;
height:50px;
position:relative;
top:160px;
background:#253F66;
}

#foot {
color:#f1f6ec;
position:absolute;
right:10px;
font-family: 'Philosopher', sans-serif;
}

@media (max-width: 875px) {
	li {
		font-size:20px;
	}

	nav {
   		margin-top: -8px;
   	}


}