@media screen and (max-width:785px){
body{
	margin:0px;
	}

img{
	width: 100%;
	height:100%;
	}

#banner{
	position: fixed;
	width:100%;
	height:40px;
	background: #253F66;
	}

nav{
	position:relative;
	left:-23px;
	margin-top:-14px;
	text-align:left;
	width:728px;
	height:40px;
	background:--- red;
	}

li{
	display:inline;
	font-size:34px;
	padding:3px;
	color:#f1f6ec;
	font-family: 'Philosopher', sans-serif;
	}

a{
	text-decoration:none;
	color:#f1f6ec;
	}
#midcontent a{
	color: blue;
	text-decoration: underline;
}

li:hover{
	text-shadow:0px 0px 0px #3c5523;
	}

.H:active{
	text-shadow: 0px 0px 20px #3c5523;
	}
	
#mainpic{
	position:relative;
	margin:auto;
	width:100%;
	height:auto;
	}
	#mainpic img {
	height: 350px;
}

#midcontent{
	position:relative;
	margin:auto;
	top:-20px;
	width:370px;
	height:300px;
	border-radius:5px;
	}


#midWrapper {
    margin: 0 auto;
    padding: 10px;
    position: relative;
    /* background-color: red; */
    height: 400px;
    width: 100%;
}


#title{
	position:relative;
	margin:auto;
	text-align:center;
	width:370px;
	color:#000;
	font-size:30px;
	font-family: 'Abril Fatface', cursive;
	-webkit-text-stroke: .3px #253F66;
	}

#tbox{
	position:absolute;
	width:370px;
	height:auto;
	top:180px;
	}	
	
#info{
	position:absolute;
	top:200px;
	left:5px;
	width:370px;
	height:250px;
	color:#000;
	font-size:20px;
	padding-top:0;
	text-align:left;
	font-family: 'Philosopher', sans-serif;
	}
	
#map{
	position:absolute;
	top:25px;
	display:none;
	}
	
#mobilemap{
	position:absolute;
	top:-100px;
	display:inline;
	left:5px;
}	
#footerWrapper {
	position: relative;
}

#footer{
	position:absolute;
	bottom:0;
	width:100%;
	background:#253F66;
    margin-top: 25%;
	}

#foot{
    color: #f1f6ec;
    text-align: center;
    position: relative;
    left: 0px;
    /* right: 120px; */
    font-family: 'Philosopher', sans-serif;
}
