body{
	margin:0px;
	background-color: #F2F6FF;
}

img{
	width:100%;
	height:100%;
}

#banner{
	position:fixed;
	width:100%;
	height:40px;
	background:#253F66;
	z-index:999;

}
		
nav{
	position:relative;
	margin:auto;
	margin-top:-15px;
	text-align:center;
	width:100%;
	height:40px;
}
	
li{
	display:inline;
	font-size:30px;
	padding:10px;
	color:#f1f6ec;
	font-family: 'Philosopher', sans-serif;
	
}

a{
text-decoration:none;
color:#f1f6ec;
}

#midcontent a{
	color: blue;
	text-decoration: underline;
}
#bcontent a{
	color: blue;
	text-decoration: underline;
}


li:hover{	
  text-shadow: 0px 0px 20px #3c5523;	
}

.H:active{
text-shadow: 0px 0px 20px #3c5523;
}

#mainpic{
	position:relative;
	margin:auto;
	text-align:center;
}
	

#midcontent{
	position:relative;
	margin:auto;
	margin-top:15px;
	width:1024px;
	height:400px;
	border-radius:5px;
	background: ---red;
}

#title{
position:relative;
margin:auto;
text-align:center;
width:100%;
color:#000;
font-size:60px;
font-family: 'Abril Fatface', cursive;
-webkit-text-stroke: .3px #253F66;

}

#title2{
position:relative;
margin:auto;
display: block;
text-align:center;
width:100%;
color:#000;
font-size:20px;
font-family: 'Abril Fatface', cursive;
-webkit-text-stroke: .3px #253F66;

}
#title3{
position:relative;
margin:auto;
display: none;
margin-left: 100px;
text-align:center;
width:100%;
color:#000;
font-size:40px;
font-family: 'Abril Fatface', cursive;
-webkit-text-stroke: .3px #253F66;

}

#buttonWrapper {
	position: relative;
	width: 100%;
	height: 400px;
	margin-top: 20px;
}

#serv1{
	position:absolute;
	left:50px;
	background:#7EA7E5;
	border-radius:100%;
	width:230px;
	height:230px;
}
	
#serv1:hover{
	box-shadow: 0px 0px 20px #000;
}
	






#serv4{
	position:absolute;
	top: 250px;
	left:230px;
	background:#7EA7E5;
	border-radius:100%;
	width:230px;
	height:230px;
}
	
#serv4:hover{
	box-shadow: 0px 0px 20px #000;
}



.c4{
	position:absolute;
	color:#fff;
	font-size:30px;
	text-align:center;
		left:0;
		right:0;
	top:65px;
	font-family: 'Philosopher', sans-serif;
}






#serv5{
	position:absolute;
	top: 250px;
	left:580px;
	background:#7EA7E5;
	border-radius:100%;
	width:230px;
	height:230px;
}
	
#serv5:hover{
	box-shadow: 0px 0px 20px #000;
}



.c5{
	position:absolute;
	color:#fff;
	font-size:30px;
	text-align:center;
		left:0;
		right:0;
	top:50px;
	font-family: 'Philosopher', sans-serif;
}







.sdd{
	position:absolute;
	color:#fff;
	font-size:30px;
	text-align:center;
	top:29%;
		left:0;
		right:0;
	font-family: 'Philosopher', sans-serif;
}
	
#serv2{
	position:absolute;
	left:400px;
	background:#7EA7E5;
	border-radius:100%;
	width:230px;
	height:230px;
}
	
#serv2:hover{
	box-shadow: 0px 0px 20px #000;
}	
		
.cs{
	position:absolute;
	color:#fff;
	font-size:30px;
	text-align:center;
	top:60px;
	left:7px;
	font-size:30px;
	font-family: 'Philosopher', sans-serif;
}

#serv3{
	position:absolute;
	/*top:100px;*/
	right:50px;
	background:#7EA7E5;
	border-radius:100%;
	width:230px;
	height:230px;
}
	
#serv3:hover{
	box-shadow: 0px 0px 20px #000;
}	

.vt{
	position:absolute;
	color:#fff;
	font-size:30px;
	text-align:center;
	top:60px;
	left:23px;
	font-size:30px;
	font-family: 'Philosopher', sans-serif;
}	
	
#bcontent{
	position:relative;
	width:1024px;
	/* below is original box height with google maps
	height:600px; */
	/* below is box height without google maps */
	height: 400px;
	margin:auto;
	margin-top: 266px;
}

#tbox{
	position:absolute;
	width:512px;
	height:600px;

}

#info{
	/*position:absolute;*/
	top:260px;
	width:512px;
	height:250px;
	color:#000;
	font-size:25px;
	/*padding-top:50px;*/
	text-align:left;
	font-family: 'Philosopher', sans-serif;
	border-right: solid 1px #253F66;
}

#map{
	position:absolute;
	top:25px;
	display:inline;
}
	
#mobilemap{
	position:absolute;
	top:0px;
	display:none;
	left:5px;
}
	
#bbox{
	position:absolute;
	width:512px;
	left:512px;
	height:600px;
}
	
.description{
	position:absolute;
	left:10px;
	color:#000;
	font-family: 'Philosopher', sans-serif;
	font-size:20px;
	width:512px;
	height:300px;
	text-align:left;
}
	
#fragile{
	position:absolute;
	top:100px;
	right:120px;
	width:auto;
	height:250px;
	border-radius:100%;
	border:1px solid black;
	
}




#cardContainer {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 60px;
	left: 0;
	right: 0;
	width: 390px;
	height: 90px;
}

#cardimg {
	width: 100%;
	height: 60%;
}



#footer {
width:100%;
height:50px;
position:relative;
background:#253F66;
}

#foot {
color:#f1f6ec;
position:absolute;
right:10px;
font-family: 'Philosopher', sans-serif;
}





@media (max-width: 875px) {
	li {
		font-size:20px;
	}

	nav {
   		margin-top: -8px;
   	}


}




/* FWD SERVICES HYPE */

#midWrapper {
	margin: 0 auto;
    padding: 10px;
    position: relative;
    /* background-color: red; */
    height: 400px;
    width: 900px;
}

.button{
	position:absolute;
	width:200px;
	height:200px;
	border-radius:100%;
	background:#7EA7E5;
	cursor:pointer;
}	

.button:hover{	
	box-shadow: 0px 0px 20px #000;
  }
  
  #but1{
	left:100px;
	}	
	
#RD{
	position:relative;
	top:50px;
	font-size:30px;
	text-align:center;
	font-family: 'Philosopher', sans-serif;
	color:#fff;
	}	

.rd{
	position:absolute;
	display:none;
	color:#fff;
	text-align:center;
	top:75px;
	font-size:25px;
	font-family: 'Philosopher', sans-serif;
}

#but2{
	left:360px;
	
	
	}
	
#SDS{
	position:relative;
	top:50px;
	font-size:30px;
	text-align:center;
	font-family: 'Philosopher', sans-serif;
	color:#fff;

	}	

.sds{
	position:absolute;
	display:none;
	color:#fff;
	text-align:center;
	top:75px;
	font-size:25px;
	font-family: 'Philosopher', sans-serif;	
	}	
	
#but3{
	left:620px;
	
	}
	
#SRS{
	position:relative;
	top:35px;
	font-size:30px;
	text-align:center;
	font-family: 'Philosopher', sans-serif;
	color:#fff;

	}	

.srs{
	position:absolute;
	display:none;
	color:#fff;
	text-align:center;
	top:75px;
	font-size:25px;
	font-family: 'Philosopher', sans-serif;	
	}	
	
#but4{
	left:220px;
	top:300px;
	
	
	}
	
#ES{
	position:relative;
	top:50px;
	font-size:30px;
	text-align:center;
	font-family: 'Philosopher', sans-serif;
	color:#fff;

	}	

.es{
	position:absolute;
	display:none;
	color:#fff;
	text-align:center;
	top:65px;
	font-size:25px;
	font-family: 'Philosopher', sans-serif;	
	}	
	
#but5{
	left:500px;
	top:300px;
	
	}	

#G{
	position:relative;
	top:40px;
	font-size:30px;
	text-align:center;
	font-family: 'Philosopher', sans-serif;
	color:#fff;

	}	

.g{
	position:absolute;
	display:none;
	color:#fff;
	text-align:center;
	top:65px;
	font-size:25px;
	font-family: 'Philosopher', sans-serif;	
	}
	
	#box1{
	display:none;
    position:fixed;
    top:50%;
	left:50%;
	width:450px;
	height:450px;
	z-index:9999;
	background:#253F66;
	border-radius:50%;
	border:10px black double;
    margin-top: -225px;
    margin-left: -225px;
	cursor:pointer;
}
