@media screen and (max-width:639px){
body{
	margin:0px;
	background-color: #F2F6FF;
}
img{
	width: 100%;
	height:100%;
	}

#banner{
	position: fixed;
	width:100%;
	height:40px;
	background: #253F66;
	}

nav{
	position:relative;
	left:-15px;
	margin-top:-6px;
	text-align:left;
	width:375px;
	height:40px;
	}

li{
	display:inline;
	font-size:15px;
	padding:3px;
	color:#f1f6ec;
	font-family: 'Philosopher', sans-serif;
	}

a{
	text-decoration:none;
	color:#f1f6ec;
	}

li:hover{
	text-shadow:0px 0px 0px #3c5523;
	}

.H:active{
	text-shadow: 0px 0px 20px #3c5523;
	}
	
#mainpic{
	position:relative;
	margin:auto;
	width:100%;
	}

#midcontent{
	position:relative;
	margin:auto;
	width:370px;
	height:200px;
	border-radius:5px;
	}

#title{
	position:relative;
	margin:auto;
	text-align:center;
	width:370px;
	color:#000;
	font-size:25.5px;
	font-family: 'Abril Fatface', cursive;
	-webkit-text-stroke: .3px #253F66;
	}
	#title2{
	position:relative;
	margin:auto;
	display: none;
	text-align:center;
	width:370px;
	color:#000;
	font-size:28px;
	font-family: 'Abril Fatface', cursive;
	-webkit-text-stroke: .3px #253F66;
	}
#title3{
	position:relative;
	margin:auto;
	display: block;
	margin-left:;
	text-align:center;
	width:370px;
	color:#000;
	font-size:18px;
	font-family: 'Abril Fatface', cursive;
	-webkit-text-stroke: .3px #253F66;
	}
#serv1{
	position:absolute;
	top:5%;
	left:10px;
	background:#7EA7E5;
	border-radius:100%;
	width:113px;
	height:113px;
	}
	
#serv1:hover{
	box-shadow:0px 0px 0px #000;
	}
	
.sdd{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
padding-top: 8.5%;
	}
	
#serv2{
	position:absolute;
	top:5%;
	left:130px;
	background:#7EA7E5;
	border-radius:100%;
	width:113px;
	height:113px;
	}
	
#serv2:hover{
	box-shadow:0px 0px 0px #000;
	}
	
.cs{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
	padding-top: 8.5%;
	}	
	
#serv3{
	position:absolute;
	top:5%;
	left:250px;
	background:#7EA7E5;
	border-radius:100%;
	width:113px;
	height:113px;
	}
	
#serv3:hover{
	box-shadow:0px 0px 0px #000;
	}

	#serv4{
	position:absolute;
	top:37%;
	left:190px;
	background:#7EA7E5;
	border-radius:100%;
	width:113px;
	height:113px;
	}
	
#serv4:hover{
	box-shadow:0px 0px 0px #000;
	}
	
.vt{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
	padding-top: 8.5%;
	}	

	.c4{
    left: 0;
    right: 0;
    top: 10px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
	padding-top: 8.5%;
	}

	#serv5{
	position:absolute;
	top:37%;
	left:70px;
	background:#7EA7E5;
	border-radius:100%;
	width:113px;
	height:113px;
	}
	
#serv5:hover{
	box-shadow:0px 0px 0px #000;
	}
		.c5{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
	padding-top: 8.5%;
	}

#bcontent{
	position:relative;
	width:370px;
	height:700px;
	margin:auto;
	top: 90px;
	
	}	
	
#tbox{
	position:absolute;
	width:370px;
	height:410px;
	top: 270px;
	}
	
#info{
	position:absolute;
	top:150px;
	width:370px;
	height:250px;
	color:#000;
	font-size:20px;
	padding-top:50px;
	text-align:left;
	font-family: 'Philosopher', sans-serif;
	}
	
#map{
	position:absolute;
	top:25px;
	display:none;
	}
	
#mobilemap{
	position:absolute;
	top:-150px;
	display:inline;
	left:5px;
}

#bbox{
	position:absolute;
	width:370px;
	top:105%;
	left:0;
	height:300px;
	}
	
.description{
	position:absolute;
	left:0;
	color:#253F66;
	font-family: 'Philosopher', sans-serif;
	font-size:20px;
	width:370px;
	height:300px;
	text-align:center;
	}
	
#fragile{
	position:absolute;
	top:150px;
	right:110px;
	width:150px;
	height:auto;
	border-radius:100%;
	border: 1px solid black;
	}
	
#footer{
	position:relative;
	top:420px;
	width:100%;
	background:#253F66;
	}

#foot{
    color: #f1f6ec;
    text-align: center;
    position: relative;
    bottom: -15px;
    left: 0px;
    /* right: 120px; */
    font-family: 'Philosopher', sans-serif;
}

#cardContainer{
	top: 450px;
}

